@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  padding-top: 30px;
}

#light {
  background-color: #f3ebf6;
}

#dark {
 background-color: #373e47;
}

.container {
  margin: auto;
  padding: 30px;
  overflow: auto;
  max-width: 500px;
  min-height: 300px;
  border-radius: 5px;
  border: 1px solid steelblue;
}

#light .container {
  border: 1px solid steelblue;
}
#dark .container {
  border: 1px solid #768390;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

#light .header { color: #000 }
#dark .header { color: #f4f4f4}

#light .no-task { color: #000 }
#dark .no-task { color: #f4f4f4 }

#light footer { color: #000 }
#dark footer { color: #f4f4f4 }

.btn {
  border: none;
  margin: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  width: 100%;
  display: block;
}

#light .btn { background: #000; }
#dark .btn { background: #768390; }

.task {
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 18px;
  background: #f4f4f4;
  box-shadow: rgb(102 54 27 / 10%) 0px 2px 7px 0px;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

#light .form-control label { color: #000 }
#dark .form-control label { color: #f4f4f4 }

.form-control input {
  width: 100%;
  margin: 5px;
  height: 40px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin: 30px;
  text-align: center;
}